<div id="footerDiv" class="footerDiv">
<div id="title" style="display:inline; float:center;"></div>
</div>
<script type="text/javascript" src="../mhttpd.js"></script>
<script type="text/javascript">
var r = document.getElementById('title');
var tt = ODBGet('/Experiment/Run Parameters/comment');
r.innerHTML = tt;
</script>

